* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: $color-2;
  padding: 2rem;
  color: #fff;
  text-align: center;
  background-color: green;
}

h1 {
  color: $color-1;
}

footer {
  background-color: $gcolor-3;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
